* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    background-color: #151B28;
    display: flex;
    justify-content: center;
}

.tana {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    background-color: #151B28;
    flex-direction: column;
    display: flex;
}

header .container {
    padding: 10px 20px;
}

header {
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    justify-content: center;
    margin: 0 auto;

}

.head1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 315px;
}

.logo {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
}

.startNov {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.chiziq {
    width: 2px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.3);
}

#language {
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding: 8px 20px;
    font-size: 30px;
    font-weight: bold;
    border: 0px solid chartreuse;
}

#language:focus {
    border: 0px solid cyan;
    color: #151B28;
}

.start {
    padding: 10px 20px;
    border-radius: 12px;
    background-color: #FF8400;
    border: none;
}

.head2-nav {
    font-weight: 400;
    font-size: 22px;
    margin: 0px 10px;
    text-align: center;
    text-transform: uppercase;
    color: #FCFCFD;
    text-decoration: none;
}

.sec1 {
    width: 1440px;
    height: 900px;
    background-image: url('./sherzodRasmlar/sec1rasm.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec1rasm {
    max-width: 1440px;
    height: 968px;
}

.seconerasm {
    width: 100%;
    height: 100%;
    mask-image: linear-gradient(to bottom, black, transparent);
    opacity: 0.4;
}

.textlar {
    width: 550px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
}

.yoq {
    width: 550px;
    height: 250px;
}

.narsala {
    width: 1120px;
    height: 338px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text h1 {
    font-weight: 400;
    font-size: 50px;
    text-transform: uppercase;
    color: #FCFCFD;
}

.text p {
    font-weight: 400;
    color: #FCFCFD;
    font-size: 14px;
    text-transform: uppercase;

}

.buttonlar {
    display: flex;
    align-items: center;
}

.ranglibtn {
    width: 255px;
    height: 56px;
    padding: 12px 18px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #FF8400;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
}

.rangsizbtn {
    width: 300px;
    height: 56px;
    padding: 12px 18px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: transparent;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
}

.sec2 {
    width: 1440px;
    height: 1100px;
    background-color: #151B28;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pys {
    width: 1120px;
    height: 874px;
    background-color: #151B28;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.matnlar {
    width: 752px;
    height: 118px;
    color: white;
    margin-left: 170px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.matnlar h2 {

    font-weight: 400;
    font-size: 54px;
    width: 752px;
    height: 38px;
    text-align: center;
    text-transform: uppercase;
}

.matnlar p {
    width: 752px;
    height: 40px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.card {
    width: 260px;
    height: 572px;
    padding: 60px 20px;
}

.card-img {
    width: 200px;
    height: 228px;
}

.imgcard {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.cardlar {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 50px 20px;
}

.card-tex h4 {
    text-align: center;
    color: #FF8400;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}

.card-tex p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #fff;
}

.starthere {
    width: 210px;
    height: 46px;
    padding: 12px 18px;
    border-radius: 4px;
    border: 2px solid #FF8400;
    color: #FF8400;
    background-color: transparent;
}

.sec3 {
    width: 1440px;
    height: 760px;
    background-image: url('./sherzodRasmlar/sec3rasm.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec3card {
    color: white;
    width: 752px;
    height: 273px;
    text-align: center;
}

.sec3card h1 {
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

.sec3card p {
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    text-align: center;
}

.sec3rbtn {
    width: 387px;
    height: 56px;
    padding: 12px 18px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    background-color: #FF8400;
    color: white;
}

.sec3rangsiz {
    width: 130px;
    height: 56px;
    padding: 12px 18px;
    border-radius: 4px;
    border: none;
    background-color: transparent;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.sec3btnlar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: white;
}

.sec4 {
    width: 1440px;
    height: 1233px;
    padding: 120px 160px;
    background-color: #151B28;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.adds {
    width: 750px;
    height: 891px;
    margin: 0 auto;
}

.add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1C2534;
    margin: 20px 0px;
    border-radius: 7px;
    padding: 0px 10px;
}

.bosh {
    display: flex;
    gap: 25px;
    align-items: center;
}

.sec4 h1 {
    font-weight: 400;
    font-size: 34px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.sec4 h4 {
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
}

.oxiri {
    width: 30px;
    height: 30px;
    background-color: #FF8400;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oxiri p {
    font-weight: bold;
    font-size: 20px;
}

.sec5 {
    width: 1440px;
    height: 798px;
    padding: 100px 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #151B28
}

.uchtalik {
    width: 1120px;
    height: 456px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.our11 {
    width: 300px;
    height: 350px;
    padding: 32px;
    background-image: url('./sherzodRasmlar/our1img.png');
    background-position: center;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.our22 {
    width: 300px;
    height: 350px;
    padding: 32px;
    background-image: url('./sherzodRasmlar/our2img.png');
    background-position: center;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.our33 {
    width: 300px;
    height: 350px;
    padding: 32px;
    background-image: url('./sherzodRasmlar/our3img.png');
    background-position: center;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.our1 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 2;
    /* overlay ustida turadi */
    color: white;

}

.our2 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 2;
    /* overlay ustida turadi */
    color: white;

}

.our3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 2;
    /* overlay ustida turadi */
    color: white;

}

.our11::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    /* pastki 200px */
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.9),
            /* pastda qoraroq */
            rgba(0, 0, 0, 0)
            /* yuqoriga chiqib yo‘qoladi */
        );
    z-index: 1;
}

.our22::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    /* pastki 200px */
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.9),
            /* pastda qoraroq */
            rgba(0, 0, 0, 0)
            /* yuqoriga chiqib yo‘qoladi */
        );
    z-index: 1;
}

.our33::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    /* pastki 200px */
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.9),
            /* pastda qoraroq */
            rgba(0, 0, 0, 0)
            /* yuqoriga chiqib yo‘qoladi */
        );
    z-index: 1;
}

.sec5 h1 {
    margin: 20px 90px;
    font-weight: 400;
    font-size: 34px;
    text-transform: uppercase;
    color: white;
}

.uchtalik h2 {
    margin-top: 200px;
    font-weight: 600;
    ;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #FCFCFD;
}

.uchtalik button {
    width: 240px;
    height: 40px;
    padding: 12px 18px;
    border-radius: 4px;
    border: 2px solid #FF8400;
    background-color: transparent;
    color: #FF8400;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

.sec6 {
    width: 1440px;
    height: 1070px;
    padding: 120px 160px;
    display: flex;
    flex-direction: column;
}

.sec6 h1 {
    font-weight: 400;
    font-size: 54px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: #FCFCFD;
}

.storis {
    width: 1120px;
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.yozuvsiz {
    width: 800px;
    height: 640px;


}

.yozuvli {
    width: 496px;
    height: 455px;
    padding: 44px;
    border-radius: 2px;
    background-color: #333B48;
    position: absolute;
    margin-right: 800px;
}

.yozuvsiz img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.yozuvli h5 {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #FF8400;
}

.yozuvli h3 {
    font-weight: 700;
    font-style: Bold;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #FCFCFD;
}

.yozuvli p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0px;
    color: #fff;
}

.sec7 {
    width: 1440px;
    height: 1156px;
    padding-top: 120px;
    padding-right: 160px;
    padding-left: 160px;
    background-color: #151B28;

}

.ourteam {
    text-align: center;
    width: 1120px;
    height: 233px;
}

.ourteam h2 {
    font-weight: 400;
    font-size: 44px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: #FCFCFD;
}

.ourteam p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0px;
    text-align: center;
    color: #FCFCFD;
}

.ourteam h5 {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #FCFCFD;
}

.uchqard {
    width: 1120px;
    height: 739px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.imgcon {
    width: 357px;
    height: 739px;

}

.imgcon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.sec8 {
    width: 1440px;
    height: 1156px;
    padding-top: 120px;
    padding-right: 160px;
    padding-left: 160px;
    background-image: url('./sherzodRasmlar/sec8img.png');
    background-position: center;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;

}

.sec8 h1 {
    font-weight: 700;
    font-size: 66px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #FCFCFD;
}

footer {
    display: flex;
    flex-direction: column;
}

.balandi {
    width: 1440px;
    height: 419px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.balandi img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.03;
}

.data {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.data h1 {
    color: #FF8400;
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;

}

.data p {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    letter-spacing: 0px;
    text-align: center;
    color: #FCFCFD;
}

.joylashtrish {
    width: 429px;
    height: 56px;
    padding: 5px 16px;
    border-radius: 8px;
    background-color: #333B48;
    position: relative;
    color: #FCFCFD;
    opacity: 0.5;
}

.joylashtrish span {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;

}

.joylashtrish h5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    margin: 0 auto;
    color: #FF8400;

}

.joy {
    position: absolute;
    right: 130px;
    top: 155px;
    width: 83px;
    height: 56px;
    padding: 12px 18px;
    border-radius: 8px;
    background-color: #FF8400;
    border: none;
    opacity: 1;

}

.pasti {
    width: 1440px;
    height: 274px;
    padding: 32px 160px;
    background-color: #151B28;
}

.boglan {
    display: flex;
    justify-content: space-between;
    color: #FCFCFD;

}
.logo {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
}

.tortlik {
    text-align: end;
}

.pasti h4 {
    color: #FF8400;
    font-weight: 400;
    font-size: 11px;
}